* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #FEE715;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    border-bottom: 3px solid #101820;
    padding: 10px;
}

.navport {
    color: #101820;
    cursor:default;
}

.navbar {
    color: #101820;
}

section {
    color: #101820;
    padding: 85px 0px 0px 85px;
}

section h1 {
    font-size: 70px;
    font-weight: normal;
}

section h2 {
    font-size: 45px;
    padding-left: 40px;
    font-weight: normal;
}

.name {
    color: rgb(255, 0, 0);
}

.heading {
    margin-top: 12px;
    margin-bottom: 60px;
}

section h3 {
    font-size: 30px;
    padding-left: 80px;
    font-weight: normal;
}

 .btn {
    background: transparent;
    color: #101820;
    border: 2px solid #101820;
    border-radius: 8px;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    margin: 200px;
 }